[Unit]
Description=Pacman update
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pacman.sh

[Install]
RequiredBy=multi-user.target
