[Unit]
Description=Pacman update
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pi_shutdown.service

[Install]
RequiredBy=multi-user.target
