[Unit]
Description=Rsync backup to onsite
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/backup.sh

[Install]
RequiredBy=multi-user.target
