[Desktop Entry]
Comment[en_GB]=Enables ChatMix on Arctis 7+
Comment=Enables ChatMix on Arctis 7+
Exec=/usr/bin/python3 /usr/local/bin/arctis7pluschatmix.py
GenericName[en_GB]=Arctis 7+ ChatMix
GenericName=Arctis 7+ ChatMix
Icon=
MimeType=
Name[en_GB]=Arctis 7+ ChatMix
Name=Arctis 7+ ChatMix
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
