[Desktop Entry]
Comment[en_GB]=Tray application for Arctis 7+
Comment=Tray application for Arctis 7+
Exec=headset-charge-indicator
GenericName[en_GB]=Headset Tray
GenericName=Headset Tray
Icon=
MimeType=
Name[en_GB]=Headset Tray
Name=Headset Tray
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
