[Unit]
Description=Liquidctl Configuration

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/liquidctl.sh
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
