[Desktop Entry]
Categories=Utility;
Comment=OpenRGB 0.9+ (1.0rc2), for controlling RGB lighting.
Icon=OpenRGB
Name=OpenRGB
StartupNotify=true
Terminal=false
Type=Application
Exec=bash -c "sleep 2 && env QT_QPA_PLATFORM=xcb /usr/bin/openrgb --startminimized --profile Default"
#Exec=/usr/bin/openrgb --startminimized --profile "Default"
