[Unit]
Description=Shutdown rpi0 at shutdown only
DefaultDependencies=no
Before=shutdown.target halt.target
RequiresMountsFor=/mnt/Downloads

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pi_shutdown.sh
RemainAfterExit=yes

[Install]
WantedBy=halt.target shutdown.target
