[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=PulseAudio Scream Listener
Comment=Listens for Scream multicasts
Exec=scream -o pulse -i bridge0
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
