[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=RPi-play
Comment=
Exec=rpiplay -n $machine-Video --server_port=5000 --hwaddr=00:00:00:00:00:00
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
