[Desktop Entry]
Categories=AudioVideo;
Comment[en_GB]=AirPlay Unix mirroring server
Comment=AirPlay Unix mirroring server
Exec=/usr/bin/uxplay
GenericName[en_GB]=AirPlay server
GenericName=AirPlay server
Icon=computer-apple-ipad-symbolic
MimeType=
Name[en_GB]=UxPlay
Name=UxPlay
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
